$section-colour: hsl(24,80%,80%);
$header-colour: hsl(24,100%,60%);
$shadow-colour: hsl(24,100%,40%);

.info-page {

    section {
        background-color: $section-colour;
        border-radius: 10px;
        padding: 10px 2%;
        margin: 25px auto;
        width: 90%;

        h2 {
            margin-bottom: 15px;
            text-decoration: underline;
        }

        h3 {
            margin: 25px 0 15px 0;
        }

        p {
            margin: 10px 0;
        }

        ul {
            list-style-position: inside;
        }
    }

    li, .indent {
        margin-left: 2.5%;
    }

    .list-spacing {
        margin-bottom: 15px;
    }
}

#section-example-parameters {
    display: inline-block;
    margin-right: 2%;
    width: 28%;
}

img {
    border: 1px solid $shadow-colour;
    float: right;
    height: auto;
    max-width: 70%;
}

@media screen and (max-width: 900px) {

    #section-example-parameters {
        display: block;
        margin-right: 0;
        width: 100%;
    }

    img {
        float: none;
        max-width: 100%;
        margin: 10px 0;
    }
}

@media screen and (max-width: 768px) {

    section {
        padding: 10px 4%;
    }

    section h2 {
        text-align: center;
    }
}