@use 'howTo.scss';
@use 'index.scss';

$accent-colour: hsl(183,100%,40%);
$header-colour: hsl(24,100%,60%);
$shadow-colour: hsl(24,100%,40%);

/* TAG SELECTORS */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

footer {
    background-color: $header-colour;
    color: black;
    height: 80px;
    margin-top: auto;
    padding: 10px;
    width: 100%;
    text-align: center;

    p {
        margin: 10px 0;
    }
}

header {
    background-color: $header-colour;
    box-shadow: 0 5px 5px $shadow-colour;
    height: 75px;
    padding: 20px 2.5%;

    a {
        background-color: $accent-colour;
        border-radius: 8px;
        color: black;
        display: inline-block;
        padding: 4px 0;
        text-decoration: none;
        width: 40%;

        &:hover {
            cursor: pointer;
            font-weight: bold;
        }

        &:first-of-type {
            margin-right: 10%;
        }
    }

    h1 {
        display: inline-block;
        width: 65%;
    }

    nav {
        float: right;
        height: 25px;
        margin: 10px 0px;
        text-align: center;
        width: 30%;
    }
}

input, select {
    font-size: 1rem;
}

label {
    font-size: 1rem;
    font-weight: bold;
    margin-right: 5px;
}

main {
    margin: 25px 0;
}

/* Media queries */
@media screen and (max-width: 1200px) {
    form {
        width: 65%;
    }

    a, #form-add-btn, #form-submit {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 900px) {
    
    form {
        width: 80%;
    }
}

@media screen and (max-width: 768px) {

    footer {
        height: 100px;
    }

    header {
        height: 125px;

        h1 {
            display: block;
            text-align: center;
            width: 100%;
        }

        nav {
            float: none;
            margin-bottom: 0px;
            margin-top: 30px;
            width: 100%;
        }
    }
}
