{% extends "base.html" %}
{% block child_content %}
    <header>
        <h1>Chord Progression Analysis Tool</h1>
        <nav>
            <a id='link-howTo' href="{{ url_for('how_to') }}">How To Use</a>
            <a id='link-satb' href="{{ url_for('satb_rules') }}">SATB Info</a>
        </nav>
    </header>
    <main>
        <!-- Chord Progression builder form -->
        <form action='{{ url_for('analysis') }}' method='POST' id='chord-builder-form' novalidate>
            <div class='form-header'>
                <h2>Chord Progression Builder Form</h2>
            </div>
            <div class='form-body'>
                {{ form.csrf_token }}
                <div class='form-section'>
                    <div class='form-select'>
                        {{ form.key.label }}{{ form.key }}
                    </div>
                    <div class='form-select'>
                        {{ form.time.label }}{{ form.time }}
                    </div>
                </div>
                <div class='form-section'>
                    <div id='form-chords'>
                        {% for chord in form.chords -%} 
                            <div class='form-chord'>
                                {{ chord.label }}{{ chord }}
                            </div>   
                        {%- endfor %}
                    </div>
                    <input id='form-add-btn' type='button' value='Add Chord Input'/>
                </div>

                <div id='form-display-options' class='form-section'>
                    {{form.display_options.label}}
                    {% for option in form.display_options %}
                        {{ option }}{{ option.label }}
                    {% endfor %}
                </div>
                <div class='form-section'>
                    {{ form.analyze_satb.label }}{{ form.analyze_satb }}
                </div>
                {{form.submit()}} 
            </div>
        </form>

        <!-- The musical stave to be drawn -->
        <div id='stave-svg'></div>
        <div id='satb-error-panel'></div>
    </main>
    <script>

        let addBtn = document.getElementById('form-add-btn');

        addBtn.onclick = (ev) => {
            ev.preventDefault();

            let formChordsSection = document.getElementById('form-chords');
            let numChords = formChordsSection.children.length;

            if (numChords < 24) {
                let newChordDiv = document.createElement('div');
                newChordDiv.setAttribute('class', 'form-chord');

                let newChordLabel = document.createElement('label');
                newChordLabel.setAttribute('for', 'chords-' + numChords);
                newChordLabel.innerText = 'Chord:';

                let newChordInput = document.createElement('input');
                newChordInput.setAttribute('id', 'chords-' + numChords);
                newChordInput.setAttribute('name', 'chords-' + numChords);

                newChordDiv.appendChild(newChordLabel);
                newChordDiv.appendChild(newChordInput);
                formChordsSection.appendChild(newChordDiv);
            }

            else {
                window.alert('Only a maximum of 24 chords are permitted for generation.');
            }
        }
    </script>

    <!-- Script to build the stave -->
    <script src='{{ url_for('static', filename='scripts/staveBuilder.js') }}'></script>
{% endblock %}