<html>
    <head>
        <!--Reference Code for VexFlow: https://github.com/0xfe/vexflow/wiki/The-VexFlow-Tutorial-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vexflow/3.0.9/vexflow-min.js" integrity="sha512-le/+X9Wjo8roJpCBunTPOGzGGhCqyXsbxgoEwngieMRVDieKxfHusDD6iFJqw8RUGkfj7se7Nc6cf4NbLUPDzA==" crossorigin="anonymous"></script>
    </head>
    <body>
        <h2>The chord analyzed is: {{data.notes}}</h2>
        <div id="boo"></div>
        <script>

            let VF = Vex.Flow;
            
            //The div to put the music stave svg inside
            let div = document.getElementById('boo');

            //Create the svg renderer
            let renderer = new VF.Renderer(div, VF.Renderer.Backends.SVG);
            renderer.resize(500, 500);

            let context = renderer.getContext();

            //Create the stave
            let stave = new VF.Stave(10, 40, 400);
            stave.addClef('treble').addTimeSignature('4/4');
            stave.setContext(context).draw();

            let svgNotes = [];

            let staveNote = new VF.StaveNote({clef: 'treble', keys: ['c/4','e/4','g/4'], duration: 'q'});
            let staveRest = new VF.StaveNote({clef: "treble", keys: ["b/4"], duration: "qr" });
            let staveRest2 = new VF.StaveNote({clef: "treble", keys: ["b/4"], duration: "qr" });
            let staveRest3 = new VF.StaveNote({clef: "treble", keys: ["b/4"], duration: "qr" });

            svgNotes.push(staveNote);
            svgNotes.push(staveRest, staveRest2, staveRest3);

            //Create a voice in 4/4 for the stave
            let svgVoice = new VF.Voice({num_beats: 4, beat_value: 4});
            svgVoice.addTickables(svgNotes);

            //Format and justify the notes to 400 pixels
            let voiceFormatter = new VF.Formatter().joinVoices([svgVoice]).format([svgVoice], 400);

            svgVoice.draw(context, stave);
        </script>
    </body>
</html>